Canadian Health Survey 2014

In [1]:
# The code was removed by Watson Studio for sharing.

,VERDATE,ADM_RNO,GEOGPRV,GEODPMF,GEODBCHA,ADM_PRX,ADM_N09,ADM_N10,ADM_N11,DHHGAGE,...,FSCDAFS2,FSCDCFS2,INCG2,INCG7,INCGHH,INCGPER,INCDRCA,INCDRPR,INCDRRS,WTS_M
0,20150326,1,46,46901,9996,2,6,1,6,10,...,6,6,3,6,2,3,3,3,3,124.02
1,20150326,2,24,24906,9996,2,1,1,6,12,...,0,6,3,6,4,5,8,8,9,759.70
2,20150326,3,35,35995,9996,2,2,1,6,12,...,0,6,1,6,3,4,5,5,6,1714.40
3,20150326,4,35,35965,9996,2,2,1,6,5,...,0,6,1,1,4,4,8,8,8,917.95
4,20150326,5,60,60901,9996,2,9,9,9,11,...,6,6,9,6,2,3,96,96,96,55.82